@import "tailwindcss";

:root {
  --background: #030303;
  --foreground: #ededed;
}

html {
  scroll-behavior: smooth;
}

body {
  background:
    radial-gradient(circle at top, rgba(139, 92, 246, 0.15), transparent 40%),
    #030303;

  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}